body {
	font-family: sans-serif;
	background-color: white;
}

a {
	text-decoration: none;
	color: black;
}

/* navigation bar */

nav.top {
	padding-top: 1%;
	padding-bottom: 1%;
	top: 0;
	width: 100%;
	position: fixed;
	z-index: 1;
	overflow: hidden;
	background-color: white;
}

nav a {
	padding: 1%;
}

nav a:hover{
	background-color: #92CA91;
}


/* projects image gallery */
#projects {
	display: block;
	padding-top: 5%;
	padding-bottom: 5%;
}

tr, table tr img {
	width: 100%;
}

td {
	text-align: center;
	background-color: #92CA91;
}

td.thirds {
	width: 33.333%;
}

td.thirds:hover {
	opacity: 0.5;
}

/* about me: personal bio*/
#about {
	display: block;
}

h1, h2#quote {
	text-align: center;
}

h2#quote{
	font-style: italic;
}

img.portrait {
	width: 50%;
	float: right;
	padding-bottom: 5%;
}

/* contact information with social media links */
#contact{
	display: block;
	width: 100%;
	clear: both;
	border-top: 3px solid black;
}

#contact h2 {
	padding: 1%;
}

p#address {
	float: left;
	padding: 1%;
}

img.icon {
	width: 4%;
	float: right;
	padding: 1%;
}

img.icon:hover {
	opacity: 0.5;
}